---
layout: page
title: CityIndex - Labs Team
tagline: Labs Team projects
---
{% include JB/setup %}

<ul class="nav nav-tabs">
    <li class="active">
        <a href="#repo-live" data-toggle="tab">Live</a>
    </li>
    <li>
        <a href="#repo-build" data-toggle="tab">Build</a>
    </li>
    <li>
        <a href="#repo-icebox" data-toggle="tab">Icebox</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="repo-live">
        {% for post in site.posts %}
            {% for tag in post.tags %}
                {% if tag == 'live' %}
                    <article class="unit-article layout-post">
                        <div class="unit-inner unit-article-inner">
                            <div class="content">
                                <div class="bd">
                                    <div class="entry-content">
                                        {{ post.title }}
                                        {% capture excerpt %}
                                            {{ post.content | truncatewords: 20, '' }}
                                        {% endcapture %}
                                        {{ excerpt }}
                                    </div><!-- entry-content -->
                                </div><!-- bd -->
                            </div><!-- content -->
                        </div><!-- unit-inner -->
                        <hr/>
                    </article>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <div class="tab-pane active" id="repo-live">
    </div>
    <div class="tab-pane active" id="repo-live">
    </div>
</div>

{% include JB/github %}
<script type="text/javascript">
// <!--
    $.ajax({
        type: "GET",
        url: 'https://api.github.com/users/{{ site.github.user }}/repos?callback=?',
        data: { type: "all", sort: "pushed", direction: "desc" },
        dataType: 'json',
        success: function(resp) {
            if (resp.data.length > 0) {
                $('#gh_repos').html('<ul></ul>');
                for(var i = 0; i < $(resp.data).length; i++)
                {
                   $('#gh_repos > ul').append(
                        '<li><a href="' + resp.data[i]['html_url'] + '">'
                        + resp.data[i]['name'] + '</a>'
                        + '<p>'
                        + (resp.data[i]['description'] ? resp.data[i]['description'] : '(No description)')
                        + '</p></li>'
                    );
                }
            }
            else {
                $('#gh_repos').html('<p>No public repositories.</p>');
            }
        }
    });
// -->
</script>