---
layout: page
title: Daithi Coombes
tagline: wordpress php plugins
---
{% include JB/setup %}

<div class="row-fluid">
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#repo-live" data-toggle="tab">Live</a>
    </li>
    <li>
        <a href="#repo-dev" data-toggle="tab">Dev</a>
    </li>
    <li>
        <a href="#repo-icebox" data-toggle="tab">Icebox</a>
    </li>
    <li>
        <a href="#repo-all" data-toggle="tab">All</a>
    </li>
</ul>
</div>

<div class="tab-content">
    <div class="tab-pane active" id="repo-live">
        <div class="row-fluid">
           <ul class="thumbnails">
                {% for post in site.posts %}
                    {% for tag in post.tags %}
                        {% if tag == 'live' %}
                            <li class="span4">
                                <div class="thumbnail">
                                    <div class="entry-content caption">
                                        <h3>{{ post.title }}</h3>
                                        <p>
                                            {% capture excerpt %}
                                                {{ post.content | truncatewords: 20, '' }}
                                            {% endcapture %}
                                            {{ excerpt }}
                                        </p>
                                        <a href="http://github.com/{{ site.github.user }}/{{ post.repo }}/archive/master.zip">
                                            <img src="{{ ASSET_PATH }}daithi/images/github-download-zip.png" alt="Download from github" border="0"/>
                                        </a>
                                        <a href="http://github.com/{{ site.github.user }}/{{ post.repo }}" class="btn">
                                            Browse Code
                                        </a>
                                        <a href="http://github.com/{{ site.github.user }}/{{ post.repo }}/issues" class="btn">
                                            Issues
                                        </a>
                                    </div><!-- entry-content -->
                                    <hr/>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="repo-dev" class="tab-pane">
        <div class="row-fluid">
           <ul class="thumbnails">
                {% for post in site.posts %}
                    {% for tag in post.tags %}
                        {% if tag == 'dev' %}
                            <li class="span4">
                                <div class="thumbnail">
                                    <div class="entry-content caption">
                                        <h3>{{ post.title }}</h3>
                                        <p>
                                            {% capture excerpt %}
                                                {{ post.content | truncatewords: 20, '' }}
                                            {% endcapture %}
                                            {{ excerpt }}
                                        </p>
                                        <a href="http://github.com/{{ site.github.user }}/{{ post.repo }}/archive/master.zip">
                                            <img src="{{ ASSET_PATH }}daithi/images/github-download-zip.png" alt="Download from github" border="0"/>
                                        </a>
                                        <a href="http://github.com/{{ site.github.user }}/{{ post.repo }}" class="btn">
                                            Browse Code
                                        </a>
                                        <a href="http://github.com/{{ site.github.user }}/{{ post.repo }}/issues" class="btn">
                                            Issues
                                        </a>
                                    </div><!-- entry-content -->
                                    <hr/>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="repo-icebox" class="tab-pane">
        <div class="row-fluid">
           <ul class="thumbnails">
                {% for post in site.posts %}
                    {% for tag in post.tags %}
                        {% if tag == 'icebox' %} 
                            <li class="span4">
                                <div class="thumbnail">
                                    <div class="entry-content caption">
                                        <h3>{{ post.title }}</h3>
                                        <p>
                                            {% capture excerpt %}
                                                {{ post.content | truncatewords: 20, '' }}
                                            {% endcapture %}
                                            {{ excerpt }}
                                        </p>
                                        <a href="http://github.com/{{ site.github.user }}/{{ post.repo }}/archive/master.zip">
                                            <img src="{{ ASSET_PATH }}daithi/images/github-download-zip.png" alt="Download from github" border="0"/>
                                        </a>
                                        <a href="http://github.com/{{ site.github.user }}/{{ post.repo }}" class="btn">
                                            Browse Code
                                        </a>
                                        <a href="http://github.com/{{ site.github.user }}/{{ post.repo }}/issues" class="btn">
                                            Issues
                                        </a>
                                    </div><!-- entry-content -->
                                    <hr/>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="repo-all" class="tab-pane">
        <div class="row-fluid">
            {% include JB/github %}
            <script type="text/javascript">
            // <!--
                $.ajax({
                    type: "GET",
                    url: 'https://api.github.com/users/{{ site.github.user }}/repos?callback=?',
                    data: { type: "all", s3rt: "pushed", direct3on: "desc" },
                    dataType: 'json',
                    success: function(resp) {
                        if (resp.data.length > 0) {
                            $('#gh_repos').html('<ul></ul>');
                            for(var i = 0; i < $(resp.data).length; i++)
                            {
                               $('#gh_repos > ul').append(
                                    '<li><a href="' + resp.data[i]['html_url'] + '">'
                                    + resp.data[i]['name'] + '</a>'
                                    + '<p>'
                                    + (resp.data[i]['description'] ? resp.data[i]['description'] : '(No description)')
                                    + '</p></li>'
                                );
                            }
                        }
                        else {
                            $('#gh_repos').html('<p>No public repositories.</p>');
                        }
                    }
                });
            // -->
            </script>
        </div>
    </div>
</div>